            {% if can_audit %}
            <div class="form-check">
                <label class="form-check-label">
                    <input id="showdeleted" class="form-check-input" type="checkbox" value="showdeleted">
                    Show deleted
                </label>
            </div>
            {% endif %}
            <table class="table table-bordered">
                <thead id="till-takings-list-head" class="thead-inverse">
                    <tr>
                        <th colspan="2">
                            <a class="sort-link" href="?order-by={% if order_by and order_by != '-date' %}-date{% else %}date{% endif %}">Date<span class="fa-stack">
                                    <span class="fa fa-sort-asc {% if order_by and order_by != '-date' %}text-muted{% endif %} fa-stack-1x"></span>
                                    <span class="fa fa-sort-desc {% if order_by != 'date' %}text-muted{% endif %} fa-stack-1x"></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a class="sort-link" href="?order-by={% if order_by and order_by == '-takings' %}takings{% else %}-takings{% endif %}">Takings<span class="fa-stack">
                                    <span class="fa fa-sort-asc {% if order_by != '-takings' %}text-muted{% endif %} fa-stack-1x"></span>
                                    <span class="fa fa-sort-desc {% if order_by != 'takings' %}text-muted{% endif %} fa-stack-1x"></span>
                                </span>
                            </a>
                        </th>
                        <th id="difference-head">
                            <a class="sort-link" href="?order-by={% if order_by and order_by == '-difference' %}difference{% else %}-difference{% endif %}">Difference<span class="fa-stack">
                                    <span class="fa fa-sort-asc {% if order_by != '-difference' %}text-muted{% endif %} fa-stack-1x"></span>
                                    <span class="fa fa-sort-desc {% if order_by != 'difference' %}text-muted{% endif %} fa-stack-1x"></span>
                                </span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody id="till-takings-list-body">
                    {% for object in object_list %}
                    <tr id="till-takings-list-row"{% if object.is_deleted %} class="bg-danger"{% endif %}>
                        <td class="date-time-td">
                            <a href="{{ object.get_absolute_url }}">{{ object.close_time|date:"d/m/y" }}</a></td>
                        <td class="date-time-td">
                            <a href="{{ object.get_absolute_url }}">{{ object.close_time|date:"H:i" }}</a>
                        </td>
                        <td class="money-td">
                            <a href="{{ object.get_absolute_url }}">£{{ object.total_takings }}</a>
                        </td>
                        <td class="money-td">
                            <a href="{{ object.get_absolute_url }}">£{{ object.till_difference }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>{% if not page_obj.has_next %}
                <tfoot>
                    <tr>
                        <td colspan="2">Totals</td>
                        <td class="money-td">£{{ totals.total_takings|default:"0.00" }}</td>
                        <td class="money-td">£{{ totals.till_difference|default:"0.00" }}</td>
                    </tr>
                </tfoot>{% endif %}
            </table>
            <nav>
                <ul class="pagination justify-content-center">
                    {% with page_obj.number|add:"5" as max_page %}
                    {% with page_obj.number|add:"-5" as min_page %}
                    <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
                        <a id="pagination-first" class="page-link" href="?page=1"><span class="fa fa-angle-double-left"></span></a>
                    </li>
                    <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
                        <a id="pagination-prev" class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"><span class="fa fa-angle-left"></span></a>
                    </li>
                    {% for page_num in paginator.page_range %}
                    {% if page_num >= min_page and page_num <= max_page %}
                    <li class="page-item{% if page_num == page_obj.number %} disabled{% endif %}">
                        <a id="pagination-{{ page_num }}" class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <li class="page-item{% if not page_obj.has_next%} disabled{% endif %}">
                        <a id="pagination-next" class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}"><span class="fa fa-angle-right"></span></a>
                    </li>
                    <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
                        <a id="pagination-first" class="page-link" href="?page={{ paginator.num_pages }}"><span class="fa fa-angle-double-right"></span></a>
                    </li>
                    {% endwith %}
                    {% endwith %}
                </ul>
            </nav>
