            #till-takings-list-head th,
            #till-takings-list-head-2 th,
            .date-time-td {
                text-align: center;
            }
            #till-takings-list-head-2 > th {
                border-bottom-width: 2px;
            }
            .money-td {
                text-align: right;
            }
            .table-hover tbody tr:hover#till-takings-list-head-2 {
                background-color: #fff;
            }
            #till-takings-list-row td {
                width: 25%;
                padding: 2px 0 0;
            }
            tbody tr:nth-of-type(even) {
                background-color: rgba(0,0,0,.05);
            }
            td a {
                display: block;
                padding: 10px 12px 12px;
                color: #373a3c;
            }
            td a:active,
            td a:focus,
            td a:hover {
                outline: none;
                text-decoration:none;
                color: #373a3c;
            }
            tbody tr:hover {
                background-color: #d9edf7;
                opacity: 0.5;
            }
            #till-takings-list-head th {
                padding: 0;
            }
            #till-takings-list-head th a {
                display: block;
                padding: .5625rem .25rem;
                color: #fff;
            }
            th a:active,
            th a:focus,
            th a:hover {
                outline: none;
                text-decoration:none;
                color: #fff;
            }
            thead th:hover {
                background-color: rgba(0,0,0,.95);
            }
            tfoot td {
                font-weight: bold;
            }
