{% extends "base.html" %}{% load humanize %}
{% block title %}Outlets | {{ block.super }}{% endblock %}
{% block style %}{{ block.super }}{% endblock %}
{% block content %}
            <h1>Outlets</h1>{% if not object_list %}
            <p class="head">You don't have any outlets yet :(</p>
            <p>Why not <a href="{% url 'cashup_outlet_create' %}">create one</a>? :D</p>{% else %}
            <p class="head">Pick an outlet...</p>
            <ul class="list-group">{% for outlet in object_list %}{% with outlet.tillclosures.latest.close_time as last_closed %}
                <a class="list-group-item-action" href="{{ outlet.get_absolute_url }}">
                    <li class="list-group-item justify-content-between">
                        <h5 class-"mb-1">{{ outlet.name }} <a class="list-group-item-action" href="{% url 'cashup_outlet_settings' outlet.name %}"><span class="fa fa-wrench"></span></a></h5>
                        <small>{% if last_closed %}Last closed {{ last_closed|naturaltime }}{% else %}Not closed{% endif %}</small>
                    </li>
                </a>{% endwith %}{% endfor %}
            </ul>{% endif %}
        {% endblock %}
