{% extends "base.html" %}{% load rules %}
{% block title %}{{ outlet.name }} | {{ block.super }}{% endblock %}
{% block style %}{{ block.super }}
{% include "cashup/_tillclosure_list_style.html" %}
{% endblock %}
            {% block content %}
            <h1>{{ outlet.name }}</h1>
            <p class="head">Outlet cashing up history</p>
            {% has_perm 'cashup.view_outlet_tillclosure_audit_trail' user outlet as can_audit %}
            {% include "cashup/_tillclosure_list.html" %}
            {% endblock %}
            {% block script %}
            {{ block.super }}
            {% include "cashup/_tillclosure_list_script.html" %}
            {% endblock %}
