{% extends "base.html" %}{% load rules %}
{% block title %}{{ personnel.name }} | {{ block.super }}{% endblock %}
{% block style %}{{ block.super }}
{% include "cashup/_tillclosure_list_style.html" %}
{% endblock %}
            {% block content %}
            <h1>{{ personnel.name }}</h1>
            <p class="head">User cashing up history</p>
            {% has_perm 'cashup.view_personnel_tillclosure_audit_trail' user personnel as can_audit %}
            {% include "cashup/_tillclosure_list.html" %}
            {% endblock %}
            {% block script %}
            {{ block.super }}
{% include "cashup/_tillclosure_list_script.html" %}
            {% endblock %}
