{% extends "base.html" %}
{% block title %}Tills{% endblock %}
{% block style %}{{ block.super }}
            #till-contents-head th,
            #till-contents-head-2 th {
                text-align: center;
            }
            #till-contents-head-2 > th {
                border-bottom-width: 2px;
            }
            #till-takings-head th:last-child {
                text-align: center;
            }
            .date-time-td,
            .staff-name-td {
                text-align: center;
            }
            .table-hover tbody tr:hover#till-contents-head-2 {
                background-color: #fff;
            }
            .money-td {
                text-align: right;
            }
            #till-contents-body td,
            #till-cashup-info-body td,
            td.money-td {
                width: 33%;
            }
            #till-cashup-info-body td {
                width: 33%;
            }
            .table tbody > tr:last-child > td:last-child.money-td,
            .table tfoot > tr > td:last-child {
                border-bottom: 1px solid #55595c;
            }{% endblock %}
{% block body %}
    <div>
        <div class="container">
            <h1>Till closure record</h1>
            <table class="table table-bordered table-hover">
                <thead class="thead-default" id="till-cashup-info-head">
                    <th colspan="2">Closed by</th>
                    <th class="staff-name-td">Daniel{{ object.staff }}</th>
                </thead>
                <tbody id="till-cashup-info-body">
                    <tr>
                        <td>Closed at</td>
                        <td class="date-time-td">{{ object.close_time|date:"H:i" }}</td>
                        <td class="date-time-td">{{ object.close_time|date:"d/m/Y" }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-hover">
                <thead class="thead-default" id="till-takings-head">
                    <th colspan="2">Takings</th>
                    <th>Value</th>
                </thead>
                <tbody id="till-takings-body">
                    <tr>
                        <td colspan="2" scope="row">Cash</td>
                        <td class="money-td">£{{ object.cash_takings }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" scope="row">Card</td>
                        <td class="money-td">£{{ object.card_takings }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" scope="row">Total</td>
                        <td class="money-td">£{{ object.total_takings }}</td>
                    </tr>
                </tfoot>
            </table>
            <table class="table table-bordered table-hover">
                <thead class="thead-default" id="till-contents-head">
                    <th colspan="3">Till contents</th>
                </thead>
                <tbody id="till-contents-body">
                    <tr id="till-contents-head-2">
                        <th>Count</th>
                        <th>Notes/Coins</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td>{{ object.note_50GBP }}</td>
                        <td>£50 notes</td>
                        <td class="money-td">£{{ object.note_50GBP.pretty_value }}</td>
                    </tr>
                    <tr>
                        <td>{{ object.note_20GBP }}</td>
                        <td>£20 notes</td>
                        <td class="money-td">£{{ object.note_20GBP.pretty_value }}</td>
                    </tr>
                    <tr>
                        <td>{{ object.note_10GBP }}</td>
                        <td>£10 notes</td>
                        <td class="money-td">£{{ object.note_10GBP.pretty_value }}</td>
                    </tr>
                    <tr>
                        <td>{{ object.note_5GBP }}</td>
                        <td>£5 notes</td>
                        <td class="money-td">£{{ object.note_5GBP.pretty_value }}</td>
                    </tr>
                    <tr>
                        <td>{{ object.coin_2GBP }}</td>
                        <td>£2 coins</td>
                        <td class="money-td">£{{ object.coin_2GBP.pretty_value }}</td>
                    </tr>
                    <tr>
                        <td>{{ object.coin_1GBP }}</td>
                        <td>£1 coins</td>
                        <td class="money-td">£{{ object.coin_1GBP.pretty_value }}</td>
                    </tr>
                    <tr>
                        <td>{{ object.coin_50p }}</td>
                        <td>50p coins</td>
                        <td class="money-td">£{{ object.coin_50p.pretty_value }}</td>
                    </tr>
                    <tr>
                        <td>{{ object.coin_20p }}</td>
                        <td>20p coins</td>
                        <td class="money-td">£{{ object.coin_20p.pretty_value }}</td>
                    </tr>
                    <tr>
                        <td>{{ object.coin_10p }}</td>
                        <td>10p coins</td>
                        <td class="money-td">£{{ object.coin_10p.pretty_value }}</td>
                    </tr>
                    <tr>
                        <td>{{ object.coin_5p }}</td>
                        <td>5p coins</td>
                        <td class="money-td">£{{ object.coin_5p.pretty_value }}</td>
                    </tr>
                    <tr>
                        <td>{{ object.coin_2p }}</td>
                        <td>2p coins</td>
                        <td class="money-td">£{{ object.coin_2p.pretty_value }}</td>
                    </tr>
                    <tr>
                        <td>{{ object.coin_1p }}</td>
                        <td>1p coins</td>
                        <td class="money-td">£{{ object.coin_1p.pretty_value }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Till total</td>
                        <td class="money-td">£{{ object.till_total }}</td>
                    </tr>
                </tfoot>
            </table>
            <table class="table table-bordered table-hover">
                <thead class="thead-default" id="till-reconciliation-head">
                    <th colspan="3">Reconciliation</th>
                </thead>
                <tbody id="till-reconciliation-body">
                    <tr>
                        <td colspan="2" scope="row">Float</td>
                        <td class="money-td">£{{ object.till_float }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" scope="row">To bank <small>Till total minus float</small></td>
                        <td class="money-td">£{{ object.to_bank }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" scope="row">Expected <small>Cash takings</small></td>
                        <td class="money-td">£{{ object.cash_takings }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" scope="row">Difference</td>
                        <td class="money-td table-{% if object.till_difference == 0 %}success{% else %}danger{% endif %}">£{{ object.till_difference }}</td>
                    </tr>
                </tfoot>
            </table>
            <div class="card">
                <div class="card-header">Notes</div>
                <div class="card-block">
                    <p class="card-text">{% if object.notes %}{{ object.notes|linebreaksbr }}{% else %}<em>No notes left.</em>{% endif %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 float-sm-right">
                    <a href="{% url 'cashup_closure_update' object.pk %}" class="btn btn-primary btn-block">Edit</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
