{% extends "base.html" %}
{% block title %}{{ outlet.name }} | {{ block.super }}{% endblock %}
{% block style %}{{ block.super }}
            #till-takings-list-head th,
            #till-takings-list-head-2 th,
            .date-time-td {
                text-align: center;
            }
            #till-takings-list-head-2 > th {
                border-bottom-width: 2px;
            }
            .money-td {
                text-align: right;
            }
            .table-hover tbody tr:hover#till-takings-list-head-2 {
                background-color: #fff;
            }
            #till-takings-list-row td {
                width: 25%;
                padding: 2px 0 0;
            }
            tbody tr:nth-of-type(even) {
                background-color: rgba(0,0,0,.05);
            }
            td a {
                display: block;
                padding: 10px 12px 12px;
                color: #373a3c;
            }
            td a:active,
            td a:focus,
            td a:hover {
                outline: none;
                text-decoration:none;
                color: #373a3c;
            }
            tbody tr:hover {
                background-color: #d9edf7;
                opacity: 0.5;
            }
            tfoot td {
                font-weight: bold;
            }{% endblock %}
            {% block content %}{% load rules %}
            <h1>{{ outlet.name }}</h1>
            <p class="head">Outlet cashing up history</p>
            {% has_perm 'cashup.view_outlet_tillclosure_audit_trail' user outlet as can_audit %}
            {% if can_audit %}
            <div class="form-check">
                <label class="form-check-label">
                    <input id="showdeleted" class="form-check-input" type="checkbox" value="showdeleted">
                    Show deleted
                </label>
            </div>
            {% endif %}
            <table class="table table-bordered">
                <thead id="till-takings-list-head" class="thead-inverse">
                    <th>Date</th>
                    <th>Time</th>
                    <th>Takings</th>
                    <th>Difference</th>
                </thead>
                <tbody id="till-takings-list-body">
                    {% for object in object_list %}
                    <tr id="till-takings-list-row"{% if object.is_deleted %} class="bg-danger"{% endif %}>
                        <td class="date-time-td">
                            <a href="{{ object.get_absolute_url }}">{{ object.close_time|date:"d/m/y" }}</a></td>
                        <td class="date-time-td">
                            <a href="{{ object.get_absolute_url }}">{{ object.close_time|date:"H:i" }}</a>
                        </td>
                        <td class="money-td">
                            <a href="{{ object.get_absolute_url }}">£{{ object.total_takings }}</a>
                        </td>
                        <td class="money-td">
                            <a href="{{ object.get_absolute_url }}">£{{ object.till_difference }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Totals</td>
                        <td class="money-td">£{{ totals.total_takings|default:"0.00" }}</td>
                        <td class="money-td">£{{ totals.till_difference|default:"0.00" }}</td>
                    </tr>
                </tfoot>
            </table>{% endblock %}{% block script %}{{ block.super }}
            <script>
            $(document).ready(function() {
                const params = new URLSearchParams(location.search);
                if (params.get('showdeleted') === "1") {
                    $("input#showdeleted").prop("checked", true);
                }
                $("input:checkbox#showdeleted").change(function() {
                    var url = new URL(location);
                    const params = new URLSearchParams(url.search);
                    if ($(this).prop("checked")) {
                        params.set('showdeleted', 1);
                    } else {
                        params.delete('showdeleted');
                    }
                    var url = location.protocol + '//' + location.host + location.pathname;
                    var param_str = params.toString();
                    if (param_str) {
                        url += '?' + param_str;
                    }
                    window.location.href = url;
                });
            });
            </script>{% endblock %}
